<%- include("templates/header") %>

<div class="container text-center">
  <p>That email was not found.</p>
  <%- include("buttons/login", {text: "Try again"}) %>
</div>

<%- include("templates/footer") %>