<%- include("templates/header") %>

<div class="container text-center">
  <p><%= field %> is required.</p><br/>
  <a class="btn btn-primary" role="button" href="/signup">Try again</a>
</div>

<%- include("templates/footer") %>