<%- include("templates/header") %>

<div class="container text-center">
  <p>A user with that email exists.</p><br/>
  <a class="btn btn-primary" role="button" href="/signup">Try again</a>
</div>

<%- include("templates/footer") %>