<%- include("templates/header") %>

<div class="container text-center">
  <p>That password is incorrect.</p>
  <%- include("buttons/login", {text: "Try again"}) %>
</div>

<%- include("templates/footer") %>